.qrcodeMain{
    width: 100%;
    height: 100%;
    background: #1296db;
}

.qrcodeTitle{
    text-align: center;
    margin-top: 16px;
    height: 50px;
    font-size: 24px;
    color: #ffffff;
}

.qrcodeFieldDiv{
    margin-left: 10px;
    margin-right: 10px;
    background: #ffffff;
    text-align: center;
    border-radius: 5px;

}

.qrcodeTips{
    padding: 16px;
    font-size: 16px;
    height: 48px;
    text-align: left;
    color: #1296db;
    background: #f0f0f0;
}

.qrcodeDiv{
    margin-top: 48px;
    text-align: center;
}

.qrcode{
    display: inline-block;
    height: 200px;
    width: 200px;
}

.messageDiv{
    margin-top: 32px;
    text-align: center;
    height: 200px;
}

.message{
    display: inline-block;
    font-size: 64px;
}