<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>取餐码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/qrcode.css">
</head>
<body class="qrcodeMain">
    <div class="qrcodeTitle">
        <img src="/images/main_white.png" style="width:80px;height:80px;margin-right:10px;">
        <span>LetsDinner |  取餐码</span>
    </div>
    <div class="qrcodeFieldDiv">
        <div id="qrcodeTips" class="qrcodeTips">请向取餐入口出示</div>
        <div class="qrcodeDiv">
            <div id="qrcode" class="qrcode"></div>
        </div>
        <div class="messageDiv">
            <span id="message" class="message">请排队</span>
        </div>
    </div>
    <script th:inline="javascript">
        jQuery('#qrcode').qrcode({
            text:[[${qrcodeUrl}]],
            width:200,
            height:200,
            correctLevel:0

        });
        var websocket = null;
        var websocketUrl = [[${websocketUrl}]];
        //判断当前浏览器是否支持WebSocket
        if (!('WebSocket' in window)) {
            alert('Not support websocket')
        } else {
            websocket = new WebSocket(websocketUrl);
        }

        //连接发生错误的回调方法
        websocket.onerror = function(){
            console.log("连接发生错误");
        };

        //连接成功建立的回调方法
        websocket.onopen = function(event){
            console.log("连接建立成功");
        };

        //接收到消息的回调方法
        websocket.onmessage = function(event){
            setMessageInnerHTML(event.data);
        };

        //连接关闭的回调方法
        websocket.onclose = function(){
            console.log("连接关闭");
        };

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function(){
            websocket.close();
        };

        //将消息显示在网页上
        function setMessageInnerHTML(message){
            try{
                var pushMessage = JSON.parse(message);
                $("#message").text(pushMessage["message"]);
                if (pushMessage["status"] === "I"){
                    $("#qrcodeTips").text("请向取餐出口出示");
                }
            }catch (e) {
                alert("出错啦");
            }
        }

        //关闭连接
        function closeWebSocket(){
            websocket.close();
        }

        var hiddenTime;
        document.addEventListener('visibilitychange',function() {
            if(document.visibilityState === 'hidden') {
                hiddenTime = new Date().getTime()	//记录页面隐藏时间
            }else{
                var visibleTime = new Date().getTime();
                if((visibleTime-hiddenTime)/1000>5){	//页面再次可见的时间-隐藏时间>5S,重连
                    setTimeout(function(){
                        websocket = new WebSocket(websocketUrl);
                    },500);    //0.5S后重连
                }
            }
        });
    </script>
</body>
</html>