<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>餐厅管理</title>
</head>

<body  onload="initPage();">
<!--<div th:replace="nav::nav"></div>-->
<div id="headArea" align="center">
    <div class="headImg"></div>
    <div class="headText"><span>let's dinner|餐厅管理</span></div>
</div>

<div class="menu"></div>
<div>
    <table>
        <tr>
            <td onclick="ShowcookArea();" style="font-size: 20px; color: #2aabd2" th:border="2" th:cellpadding="1" data-th-cellspacing="1">菜谱</td>
            <td onclick="ShowdayCookArea();" style="font-size: 20px; color: #2aabd2" th:border="2" th:cellpadding="1" data-th-cellspacing="1">每日菜谱</td>
        </tr>
    </table>
</div>

<div class="tableArea" id="cookArea" style="">
    <div style="padding-top: 20px; ">
        <div style="font-size: 16px; color:#2aabd2"><span>菜谱导入</span></div>
        <form method="post" id="uploadForm" action="/letsdinner/upload" enctype="multipart/form-data">
            <table cellpadding="2" cellspacing="2" border="0">
            <tr>
                <td>菜品图片：</td><td><input type="file" id="file" name="file" /></td>
                <td>菜品名称：</td><td><input id="cookName" name="cookName" /></td>
                <td>菜品单价：</td><td><input id="cookPrice" name="cookPrice" /></td>
                <td></td><td><input type="submit" value="立刻上传" /></td>
            </tr>
            </table>
        </form>
    </div>
    <div style="padding-top: 20px; ">
        <div style="font-size: 16px; color:#2aabd2"><span>每日菜谱导入</span></div>
        <table cellpadding="2" cellspacing="2" border="0">
            <tr>
                <td>日期：</td>
                <td>
                    <select  id="dateWeek" class="form-control">
                        <option>星期一</option>
                        <option>星期二</option>
                        <option>星期三</option>
                        <option>星期四</option>
                        <option>星期五</option>
                        <option>星期六</option>
                        <option>星期日</option>
                    </select>
                </td>
                <td>用餐时间段：</td>
                <td>
                    <select id="timeDinner" class="form-control">
                        <option>早餐</option>
                        <option>中餐</option>
                        <option>晚餐</option>
                    </select>
                </td>
                <td></td><td><button onclick="insertDayCook()">导入每日菜谱</button></td>
            </tr>
        </table>
    </div>
    <table id="cookbook" border="1">

    </table>
</div>



<div class="tableArea" id="dayCookArea" style="display:none">
    <table id="dayCookbook" border="1">

    </table>
</div>









<script src="/js/jquery.min.js" charset="utf-8"></script>
<script src="/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/css/restaurant.css">
<script type="text/javascript">
    function initPage()
    {
        showCookBook();
    }
    function showCookBook()
    {
        $('#cookbook').bootstrapTable('destroy'); //先销毁表格
        $('#cookbook').bootstrapTable({
            url:'/letsdinner/showcookbook',
            method:'post',
            striped:true,
            cache:false,
            local:'zh-CN',
            pageination:true,
            sortOrder:"asc",
            pageNmuber:1,
            pageSize:10,
            pageList:[10,25,50,100],
            sidePagination:"server", //分页方式
            search:false, //是否显示表格搜索，客户端搜索
            strictSearch:true,
            clickToSelect:false,
            showRefresh:false,
            //样式设置
            height: 500,

            columns:[
                {
                    checkbox:true,
                    visble:true
                },
                {
                    field: 'id',
                    title: '编号',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'name',
                    title: '名称',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'price',
                    title: '单价',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    filed: 'image',
                    title: '图片',
                    align: 'center',
                    valign: 'middle',
                    formatter:function(value,row,index)
                    {
                        return '<img src="data:image/jpg;base64,' + row.image + '" alt="" width="80px;" height="80px;"/>';
                    }
                },
                {
                    field: 'operator',
                    title: '操作',
                    align: 'center',
                    valign: 'middle',
                    events: operateEvents,
                    formatter: function(value,row,index)
                    {
                        return ['<button id="tabEdit" type="button" class="btn btn-default">编辑</button>'+'&nbsp'+
                            '<button id="tabDelete" type="button" class="btn btn-default">删除</button>'].join();
                    }
                }
            ]
        });
    }

    window.operateEvents = {
        "click #tabEdit": function(e, value,row,index)
        {
            alert("更新成功!");
        },
        "click #tabDelete": function(e, value,row,index)
        {
            var id = row.id;
            var name = row.name;
            $.ajax({
                type: "post",  // 请求方式
                url: "/letsdinner/deleteCookBook",  // 目标资源
                data: 'id='+id,
                success : function (data) {
                    alert(name + "删除成功！");
                    showCookBook();
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    alert("删除失败!");
                }
            });
        }
    }

    function ShowcookArea()
    {
        if($("#cookArea").css('display')  == 'none')
        {
            $("#cookArea").show();
        }
        $("#dayCookArea").hide();
    }

    function ShowdayCookArea()
    {
        if($("#dayCookArea").css('display')  == 'none')
        {
            $("#dayCookArea").show();
        }
        $("#cookArea").hide();
    }

    function insertDayCook()
    {
        //选择日期和用餐时间段
        var dateWeek = $("#dateWeek").val();
        var timeDinner = $("#timeDinner").val();

        //选择菜谱表需要导入的菜品
        var checklist = $('#cookbook').bootstrapTable('getAllSelections');
        var idList = new Array();
        for (var i = 0; i < checklist.length; i++) {
            idList.push(checklist[i].id);
        }

        var reqjson = {
            week: dateWeek,
            timePeriod:timeDinner,
            list:idList
        };

        $.ajax({
            type: "post",  // 请求方式
            url: "/letsdinner/insertDayCook",  // 目标资源
            contentType:"application/json",
            data: JSON.stringify(reqjson),
            success : function (data) {
                alert("每日菜谱导入成功！");
            },
            error : function(XMLHttpRequest, textStatus, errorThrown){
                alert("每日菜谱导入失败!");
            }
        });
    }


</script>

</body>

</html>
